<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CLEAN MARKUP = GOOD KARMA.
      Hi source code lover,

      you're a curious person and a fast learner ;)
      Let's make something beautiful together. Contribute on Github:
      https://github.com/webslides/webslides

      Thanks,
      @jlantunez.
    -->

  <!-- SEO -->
  <title>Đại hội cổ đông thường niên HBC</title>
  <meta name="description"
    content="WebSlides is the easiest way to make HTML presentations, portfolios, and landings. Just essential features.">

  <!-- URL CANONICAL -->
  <!-- <link rel="canonical" href="http://your-url.com/"> -->

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext"
    rel="stylesheet">

  <!-- CSS WebSlides -->
  <link rel="stylesheet" type='text/css' media='all' href="../materialize/css/webslides.css">

  <!-- Optional - CSS SVG Icons (Font Awesome) -->
  <link rel="stylesheet" type='text/css' media='all' href="../materialize/css/svg-icons.css">



  <!-- Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#333333">

</head>

<body>
  <main role="main">
    <article id="webslides" class="vertical">
      <section data-action="123" class="slide-top">

        <!-- <span class="background" style="background-image:url('https://anhdepfree.com/wp-content/uploads/2018/08/hinh-nen-dep-nhat-2018.jpg')"></span> -->
        <!--.wrap = container (width: 90%) -->
        <div class="wrap aligncenter">
          <h1><strong>ĐẠI HỘI CỔ ĐÔNG</strong></h1>
          <p class="text-intro">Công ty cổ phần Hòa Bình.<br>

          </p>
          <p>
            <div class="button zoomIn">
              Số đại biểu tham dự
              <p id="sodaibieu"></p>
            </div>
            <div class="button zoomIn">
              Số cổ phiếu đại diện tham dự
              <p id="sophieu"></p>
            </div>
            <div class="button zoomIn">

              Số đại biểu tham dự từ xa
              <p id="offline"></p>
            </div>
          </p>
          <p>
            Đại hội cổ đông đủ điều kiện tổ chức lúc: <span id="locked"></span>
          </p>
          <p>Với số tổng số phiếu tham dự: <span id="sophieuhientai"></span></p>
        </div>
        <!-- .end .wrap -->
      </section>
      <% for(var i = 0 ; i < slide.length ; i++) { %>
      <section data-slide="<%= slide[i].Slide %>">
        <span class="background" style="background-image:url('../images/<%= slide[i].SlideImg %>')"></span>

      </section>
      <% } %>

      <section>

        <!--end .grid -->

      </section>
    </article>
    <!-- end article -->
  </main>
  <!-- end main -->

  <!-- A global footer

     <footer role="contentinfo">
      <div class="wrap">
        <p>An <a href="https://github.com/webslides/webslides">open source solution</a>, by <a href="https://twitter.com/webslides">@webslides</a>.</p>
      </div>
    </footer>  -->
  

  <!-- Required -->
  <script src="../materialize/js/webslides.js"></script>
  <script defer src="../materialize/js/svg-icons.js"></script>
  <script src="../../materialize/js/jquery-3.4.1.min.js"></script>
  <script src="../../materialize/js/materialize.min.js"></script>
  <script src="../../materialize/js/datatable.min.js"></script>
  <script src="../../materialize/js/customer.js"></script>
  <script src="../../materialize/js/scan.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script>
    const ws = new WebSlides({
      changeOnClick: true,
    })
    var socket = io()

    $('body').on('click keydown focusout focus', function () {
      setTimeout(function () {
        const curPage = window.location.hash
        socket.emit('page', curPage)
      }, 1500)
    })
    socket.on('page', (msg) => {
      window.location.hash = msg
    })
    socket.on('thong-ke', function (msg) {
      const { sophieu, sodaibieu, offline } = msg.tinhtrang[0]
      if (msg.dieukien.length > 0) {
        const { sophieuhientai, locked } = msg.dieukien[0]
        const date = new Date(locked)
        $("#locked").html(`${date.toLocaleTimeString('en-GB', { timeZone: 'Asia/Ho_Chi_Minh' })} ${date.getUTCDate()}/${date.getUTCMonth() + 1}/${date.getUTCFullYear()}`)
        $("#sophieuhientai").html(sophieuhientai)
      }
      if (sophieu == null)
        $("#sophieu").html(0)
      else
        $("#sophieu").html(new Number(sophieu).toLocaleString('en-GB'))
      $("#sodaibieu").html(sodaibieu)
      $("#offline").html(offline)

    })
    socket.on('show-bau-cu', (slide) => {
      $.ajax({
        type: 'get',
        url: './slide-bau-cu',
        success: function (data) {
          const slideId = $(`section[data-slide="${slide}"]`).attr('id').split('-')[1]
          $(`section[data-slide="${slide}"]`).html(data)
        }
      })
    })
    $('body').click(function (e) {
      e.preventDefault()

    })
    socket.on('show-bieu-quyet', function (msg) {
      const { id, slide } = msg
      $.ajax({
        type: 'get',
        url: './slide-bieu-quyet',
        data: {
          id: id
        },
        success: function (data) {
          const slideId = $(`section[data-slide="${slide}"]`).attr('id').split('-')[1]
          $(`section[data-slide="${slide}"]`).html(data)
        }

      })
    })

  </script>

  <!-- OPTIONAL - svg-icons.js (fontastic.me - Font Awesome as svg icons) -->

</body>

</html>