<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CLEAN MARKUP = GOOD KARMA.
      Hi source code lover,

      you're a curious person and a fast learner ;)
      Let's make something beautiful together. Contribute on Github:
      https://github.com/webslides/webslides

      Thanks,
      @jlantunez.
    -->

    <!-- SEO -->
    <title>Đại hội cổ đông thường niên HBC</title>
    <meta name="description" content="WebSlides is the easiest way to make HTML presentations, portfolios, and landings. Just essential features.">

    <!-- URL CANONICAL -->
    <!-- <link rel="canonical" href="http://your-url.com/"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext" rel="stylesheet">

    <!-- CSS WebSlides -->
    <link rel="stylesheet" type='text/css' media='all' href="../materialize/css/webslides.css">

    <!-- Optional - CSS SVG Icons (Font Awesome) -->
    <link rel="stylesheet" type='text/css' media='all' href="../materialize/css/svg-icons.css">

    <!-- SOCIAL CARDS (ADD YOUR INFO) -->

    <!-- FACEBOOK -->
    <meta property="og:url" content="http://your-url.com/"> <!-- YOUR URL -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="WebSlides — Making HTML Presentations Easy"> <!-- EDIT -->
    <meta property="og:description" content="WebSlides is about telling stories beautifully. Just the essential features. Good karma."> <!-- EDIT -->
    <meta property="og:updated_time" content="2017-01-04T17:20:50"> <!-- EDIT -->
    <meta property="og:image" content="../materialize/images/share-webslides.jpg"> <!-- EDIT -->

    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@webslides"> <!-- EDIT -->
    <meta name="twitter:creator" content="@jlantunez"> <!-- EDIT -->
    <meta name="twitter:title" content="WebSlides — Making HTML Presentations Easy"> <!-- EDIT -->
    <meta name="twitter:description" content="WebSlides is about good karma. Just essential features. 120+ free slides ready to use."> <!-- EDIT -->
    <meta name="twitter:image" content="../materialize/images/share-webslides.jpg"> <!-- EDIT -->

    <!-- FAVICONS -->
    
    <link rel="stylesheet" href="../materialize/css/materialize.min.css">
    <link rel="shortcut icon" sizes="16x16" href="../materialize/images/favicons/favicon.png">
    <link rel="shortcut icon" sizes="32x32" href="../materialize/images/favicons/favicon-32.png">
    <link rel="apple-touch-icon icon" sizes="76x76" href="../materialize/images/favicons/favicon-76.png">
    <link rel="apple-touch-icon icon" sizes="120x120" href="../materialize/images/favicons/favicon-120.png">
    <link rel="apple-touch-icon icon" sizes="152x152" href="../materialize/images/favicons/favicon-152.png">
    <link rel="apple-touch-icon icon" sizes="180x180" href="../materialize/images/favicons/favicon-180.png">
    <link rel="apple-touch-icon icon" sizes="192x192" href="../materialize/images/favicons/favicon-192.png">

    <!-- Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#333333">
    
  </head>
  <body>
    <style>
      .modal { width:100% !important ; height: 100% !important ; }
    </style>
    <!-- <header role="banner">
      <nav role="navigation">
        <p class="logo"><a href="index.html" title="WebSlides">WebSlides</a></p>
        <ul>
          <li class="github">
            <a rel="external" href="https://github.com/webslides/webslides" title="Github">
              <svg class="fa-github">
                <use xlink:href="#fa-github"></use>
              </svg>
              <em>WebSlides</em>
            </a>
          </li>
          <li class="twitter">
            <a rel="external" href="https://twitter.com/webslides" title="Twitter">
              <svg class="fa-twitter">
                <use xlink:href="#fa-twitter"></use>
              </svg>
              <em>@WebSlides</em>
            </a>
          </li>
        
        </ul>
      </nav>
    </header> -->

    <main role="main">
      <article id="webslides" class="vertical">
        
        <!-- Quick Guide
          - Each parent <section> in the <article id="webslides"> element is an individual slide.
          - Vertical sliding = <article id="webslides" class="vertical">
          - <div class="wrap"> = container 90% / <div class="wrap size-50"> = 45%;
        -->

        <section data-action="123">
          
         <!-- <span class="background" style="background-image:url('https://anhdepfree.com/wp-content/uploads/2018/08/hinh-nen-dep-nhat-2018.jpg')"></span> -->
          <!--.wrap = container (width: 90%) -->
          <div class="wrap aligncenter">
            <h1><strong>ĐẠI HỘI CỔ ĐÔNG</strong></h1>
            <p class="text-intro">Công ty cổ phần Hòa Bình.<br>
              
            </p>
            <p>
              <div class="button zoomIn" >
              
                Số phiếu hiện tại
                <p id="sophieu"></p>
              </div>
              <div class="button zoomIn" >
              
                Số đại biểu tham dự
                <p id="sodaibieu"></p>
              </div>
              <div class="button zoomIn" >
              
                Số đại biểu tham dự từ xa
                <p id="offline"></p>
              </div>
            </p>
            <p>
              Đại hội cổ đông đủ điều kiện <span id="locked"></span>
            </p>
            <p>Với số phiếu <span id="sophieuhientai"></span></p>
          </div>
          <!-- .end .wrap -->
        </section>
        <% for(var i = 0 ; i < slide.length ; i++) { %>
        <section>
          <span class="background" style="background-image:url('../<%= slide[i].SlideImg %>')"></span>
         
        </section>
        <% } %>
        <section data-action="123">
          <span class="background" ></span>
         
        </section>
      </article>
      <!-- end article -->
    </main>
    <!-- end main -->

   <!-- A global footer

     <footer role="contentinfo">
      <div class="wrap">
        <p>An <a href="https://github.com/webslides/webslides">open source solution</a>, by <a href="https://twitter.com/webslides">@webslides</a>.</p>
      </div>
    </footer>  -->
    <div id="modal1" class="modal" style="height: 300px;">
      <div class="modal-content center-align">
      </div>
  </div>
 
    <!-- Required -->
    <script src="../materialize/js/webslides.js"></script>
    <script defer src="../materialize/js/svg-icons.js"></script>
    <script src="../../materialize/js/jquery-3.4.1.min.js"></script>
    <script src="../../materialize/js/materialize.min.js"></script>
    <script src="../../materialize/js/datatable.min.js"></script>
    <script src="../../materialize/js/customer.js"></script>
    <script src="../../materialize/js/scan.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" ></script>
    <script>
      const ws = new WebSlides({
        changeOnClick:true,
      })
      var socket = io()
      
      $('body').on('click keydown focusout focus',function(){
        setTimeout(function(){
          const curPage = window.location.hash
          socket.emit('page',curPage)
        },1000)
      })
      socket.on('thong-ke',function(msg){
        const {sophieu,sodaibieu,offline} = msg.tinhtrang[0]
        if(msg.dieukien.length > 0){
          const {sophieuhientai,locked} = msg.dieukien[0]
          const date = new Date(locked)
          $("#locked").html(`${date.toLocaleTimeString('en-GB',{timeZone:'Asia/Ho_Chi_Minh'})} ${date.getUTCDate()}/${date.getUTCMonth()+1}/${date.getUTCFullYear()}`)
        $("#sophieuhientai").html(sophieuhientai)
        }
        
        
       
        if(sophieu == null)
        $("#sophieu").html(0)
        else
        $("#sophieu").html(new Number(sophieu).toLocaleString('en-GB'))
        $("#sodaibieu").html(sodaibieu)
        $("#offline").html(offline)
        
    })
    $('body').click(function(e){
      e.preventDefault()
      
    })
    socket.on('show-bieu-quyet',function(msg){
      const id = msg
      $.ajax({
        type:'get',
        url:'./slide-bieu-quyet',
        data:{
          id:id
        },
        success:function(data){
          $(".modal-content").html(data)
        },
        complete:function(){
          var instance = M.Modal.getInstance($('.modal'));
          instance.open()
        }
      })
    })
    $(document).ready(function(){
      $('.modal').modal();
    
    
    
    })
    
    </script>

    <!-- OPTIONAL - svg-icons.js (fontastic.me - Font Awesome as svg icons) -->

  </body>
</html>
