<style>
    nav {
      background-color: #00a1e4;
    }
    
  </style>
  <body>
    <nav>
        <div class="nav-wrapper">
          <a href="../../admin" class="brand-logo"><i class="material-icons">cloud</i>HBC</a>
          <ul class="right hide-on-med-and-down">
            <li><a class="btn-sidenav" id="trigsidenav"><i class="material-icons">menu</i></a></li>
          </ul>
        </div>
      </nav>
      <button data-target="slide-out" class="sidenav-trigger" hidden><i class="material-icons">menu</i></button>
    <ul id="slide-out" class="sidenav">
      <li><div class="user-view">
        <div class="background">
          <img src="https://photo.techrum.vn/images/2019/07/15/490IXX.jpg"/>
        </div>
        <a href="#user"><img class="circle" ></a>
        <a href="#name"><span class="white-text name">Nguyễn Hải Cường</span></a>
        <a href="#email"><span class="white-text email">cuong.nguyenhai@hbc.com.vn</span></a>
      </div></li>
      <!-- <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li> -->
      <li><a href="../../admin/check-in">Đón tiếp đại biểu</a></li>
      <li><a href="../../admin/thu-moi">Thư mời</a></li>
      <!-- <li><a href="./bieu-quyet">Biểu quyết</a></li> -->
      <li><a href="../../admin/bau-cu">Bầu cử</a></li>
      
      <li><div class="divider"></div></li>
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>